@page "/supah"

<PageTitle>Index</PageTitle>
<EditForm Model="@UserData" OnSubmit="@Submit">
    <InputText @bind-Value="UserData.Username" />
    <InputText type="password" @bind-Value="UserData.Password" />
    <button class="btn btn-primary" type="submit">Log in</button>
    <p style="margin-top: 20px;">@FormCompletedText</p>
</EditForm>

@code {
    public User UserData { get; set; } = new User();    
    public string FormCompletedText { get; set; } = "";
    public string ExUsername = "";
    public string Password = "";

    protected override void OnInitialized()
    {
        UserData = new User();
    }

    public void Submit()
    {
        FormCompletedText = $"User {UserData.Username} logged in.";
        ExUsername = UserData.Username;
        Password = UserData.Password;
        UserData = new User();
    }

    public class User
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}
@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
